

#completar{
    cursor: pointer;
    font-weight: 600;
    transition: all 100ms ease-in-out;
}

#completar:hover{
    background-color: #b0be64;
    transition: all 100ms ease-in-out;
}

#eliminar{
    cursor: pointer;
    font-weight: 600;
    color: aliceblue;
    background-color: rgb(207, 38, 38);
    transition: all 100ms ease-in-out;
}

#eliminar:hover{
    background-color: rgb(150, 6, 6);
}

.completada{
    
    text-decoration: line-through;
}

.noCompleta{
    
    text-decoration: none;
}

.cTarea{
    color: black;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    transition: all 1s ease-in-out;
    background-color: rgba(210, 212, 196, 0.671);
}

.cTareaCompleta{
    color: aliceblue;
    background-color: rgba(210, 212, 196, 0.301);
}

