#completar{
    transition: all 500ms ease-in-out;
}

#completar:hover{
    background-color: #b0be64;
    transition: all 500ms ease-in-out;
}

#eliminar{
    background-color: brown;
    transition: all 500ms ease-in-out;
}

.completada{
    text-decoration: line-through;
}

.noCompleta{
    text-decoration: none;
}

.cTarea{
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    transition: all 1s ease-in-out;
    background-color: rgba(210, 212, 196, 0.671);
}

.cTareaCompleta{
    background-color: rgba(210, 212, 196, 0.301);
}

